html, body {
	padding:0px;
	margin:0px;
}
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 0.825em;
	color: #FCFCFC;
	background-color: #355664;
}
#sm_body{
	width: 960px;
	margin: 0 auto;
	position:relative;
}
#sm_body h1{
	font-size: 3.5em;
	padding: 0.5em 0 0;
	text-transform: uppercase;
}
.sm_body_line {
	height: 1px;
	background-color: #24404C;
	border-bottom: 1px solid #416371;
	margin: 1em 0;
	overflow: hidden;
}
article {
background-color: #213E4A;
margin: 3em 0;
padding: 20px;
text-shadow: 0 2px 0 black;
-webkit-border-radius: 10px;
border-radius: 10px;
}
#sm_header{
	font-size: 2.2em;
	font-weight: normal;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
clear::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#sm_form{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	border: 1px solid #416371;
	width: 555px;
	margin-left: auto;
	margin-right: auto;
}
#sm_form_header{
	border-color: #CCC;
	padding: 6px 0 16px;
	padding: 6px 0 16px;
	border-bottom: 1px solid #AAA;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}
.sm_form_header_title{
	line-height: 20px;
	min-height: 20px;
	padding-bottom: 2px;
	vertical-align: bottom;
	color: #1C2A47;
	font-size: 16px;
}
#sm_form_body{
	margin-bottom: 15px;
}
.sm_form_table_part{
	color:black;
}
.sm_tab_body_content{
	position:relative;
	padding-left:5px;
	padding-right:5px;

	min-height:90px;
}
#sm_submit_confirm{
	float:left;
	margin-left:10px;
}
#userdata{
	color:#666;
	border-width:0px;
	margin:20px;
}

#userdata_acco{
	color:red;
}


#userdata tr, #userdata th{
	border-width:0px;
}



#sm_form_main{
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}
#sm_form_main_body{
	margin-top: 20px;
}
.sm_form_table{
	border: 0 none;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0px auto;
	font-size: 14px;

}
.sm_tab_table{
	border: 0 none;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
}
.sm_form_table .sm_datarow {
	height:45px;
}
.sm_table_label {
	padding: 1px 5px 1px;
	padding-bottom: 1px;
	text-align: right;
	vertical-align: top;
}
.sm_data{
	padding: 1px 0 1px;
	padding-bottom: 1px;
	text-align: left;
	vertical-align: top;
}
.sm_text{
	width: 240px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.sm_text select{
	background: #555;
	margin: 2px 0px;
	border: 3px black;
	padding: 2px;
	height: 25px;
}
#sm_submit{
	height: 25px;
	width:90px;
}
.sm_footer{
	position:relative;
	bottom:0px;
	left:0px;
	float:left;
	width:100%;
	font-size:13px;
	background:#213E4A;
	height:40px;
	border-top:1px solid #213E4A;

}
ul.tabs {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.sm_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	width: 100%;
	float:left;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	margin:0px auto;
	position:relative;
}
.sm_content_text_header{
	width:80%;
	float:left;
	margin-left:10px;
	margin-top:5px;
	border-bottom:1px solid black;
	height:40px;
}
.sm_tab_body{
	width:905px;
	margin-top:5px;
	clear:both;
	float:left;
	margin-left:10px;
	position:relative;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.sm_content_text{
	position: relative;
	background: #fff;
	opacity: 0.7;
	float:left;
	width: 100%;
	min-height: 200px;
	color: #000;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	font-weight:bold;
	border:1px solid gray;
}
.sm_personal{
	padding:10px;
	position:relative;
	border-top:1px solid black;
	margin-top:10px;
}
.sm_tab_container {
	width: 960px;
	margin:0 auto;
	top:10px;
	position: relative;
}
.suggestionsBox {
	position: relative;
	left: 30px;
	margin: 10px 0px 0px 0px;
	width: 200px;
	background-color: #212427;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 2px solid #000;	
	color: #fff;
}
.suggestionList {
	margin: 0px;
	padding: 0px;
}

.suggestionList li {
	margin: 0px 0px 3px 0px;
	padding: 3px;
	cursor: pointer;
}

.suggestionList li:hover {
	background-color: #659CD8;
}
#userdata1{
	color:red;
}
