/* The main structural CSS sheet */

/* Custom font embedding */
@font-face {
font-family: 'Droid Sans';
font-style: normal;
font-weight: normal;
src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.woff') format('woff');
}

@font-face {
font-family: 'Pacifico';
font-style: normal;
font-weight: normal;
src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../fonts/Pacifico.woff') format('woff');
}

/* Change selected text color */
::-moz-selection {
color:white;
background:#3A75AF ;
}
::selection {
color:white;
background:#3A75AF ;
}


/* HTML5 good practice */
header, footer, section, aside, nav, article {
display: block;
}

@textLight	:	#efefef;
@textDark	:	#565656;
@lightGrey	:	#F5F5F5;
@darkGrey	:	#E5E5E5;

.pacifico {
	font-family: 'Pacifico';
}

.droid {
	font-family: 'Droid Sans';
}


html {
font-size: 100.01%;
min-height: 100%;
margin: 0;
}

body {
.droid();
background:@textLight;
margin: 0;
color: @textDark;
}

a {
color: @textDark;
text-decoration:none;
}

a:hover {
text-decoration: underline;
}

#topbar {
background: #454545 url('../images/header-logo.png') no-repeat;
background-position: 5% 0%;
border-bottom: 1px solid @darkGrey;
height: 150px;
margin:0;
padding:0px 30px;
overflow: hidden;
}

#container{
margin:50px auto -30px;
width: 920px;
min-height:600px;
padding: 0px;
}


