/* The main structural CSS sheet */

/* Custom font embedding */
@font-face {
font-family: 'Droid Sans';
font-style: normal;
font-weight: normal;
src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.woff') format('woff');
}

@font-face {
font-family: 'Pacifico';
font-style: normal;
font-weight: normal;
src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../fonts/Pacifico.woff') format('woff');
}

.roundedCorners (@radius: 5px) {
 border-radius: @radius;
-o-border-radius: @radius;
-moz-border-radius: @radius;
-webkit-border-radius: @radius;
}

@lightGray	:	#eae7e7;
@darkGray	:	#525252;
@darkBlue	:	#1122CC;
@lightGreen	:	#009933;

.pacifico {
	font-family: 'Pacifico';
}

.droid {
	font-family: 'Droid Sans';
}

.pointer() {
	cursor:pointer;
}

.tight() {
	margin:0px;
	padding:0px;
}

html {
font-size: 100.01%;
min-height: 100%;
margin: 0;
}

body {
.droid();
background:@lightGray;
margin: 0;
color: @darkGray;
}

a {
color: @darkGray;
text-decoration:none;
}

a:hover {
text-decoration: underline;
}

#topbar {
background: #454545 url('../images/header-logo.png') no-repeat;
background-position: 5% 0%;
border-bottom: 1px solid @darkGray;
height: 150px;
margin:0;
padding:0px 30px;
overflow: hidden;
}

#container{
margin:50px auto -30px;
width: 920px;
min-height:600px;
padding: 0px;
}

nav ul#mainMenu li {
display:inline-block;
margin:5px 10px;
padding:5px 10px;
font-size:20px;
.roundedCorners(20px);
border:1px solid @darkGray;
color:@darkGray;
.pointer();
}

nav ul#mainMenu li:hover {
.roundedCorners(10px);
border:1px solid @darkGray;
color:@lightGray;
background:#7F909A;
}

form#searchBox input, form#searchBox span  {
.roundedCorners(10px);
.droid();
font-size:30px;
padding:10px;
width:700px;
margin:10px auto;
}

form#searchBox span#SearchButton {
.pointer();
width:200px;
}

/* Sign in stuff */

.g {
	float: right;
	width: 335px;
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #E5E5E5;
	margin: 12px 0 60px 0px;
	padding: 20px 15px 50px 15px;

	label {
	display: block;
	margin: 0 0 1.5em;
	}

	h2 {
	font-size: 25px;
	height: 20px;
	line-height: 20px;
	margin: 25px 0;line-height: 0px;
	position: relative;
	color: @darkGray;
	}

	input[type="submit"] {
	font-size: 13px;
	height: 32px;
	margin: 0 1.5em 1.2em 0;
	}

	input[type="email"], input[type="password"], input[type="text"], select {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
	border-radius: 1px 1px 1px 1px;
	border-right: 1px solid #D9D9D9;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	height: 29px;
	margin: 0;
	padding-left: 8px;
	font-size: 15px;
	height: 32px;
	width: 100%;
	}
}

div#searchResults {
	.roundedCorners(10px);
	.droid();
	cursor: default;
	padding:10px;
	width:900px;
	margin:10px auto;
	min-height:400px;
	background:#efefef;
	font-size: 22px;
	line-height:24px;

	span.name {
		color: @darkBlue;
		.tight();
		font-size:21px;
		line-height: 0px;
		.pointer();
	}
	span.tid {
		font-size:16px;
		.tight();
		line-height: 0px;
		color:@lightGreen;

	}
	span.contact {
		font-size:14px;
		.tight();
		line-height: 0px;
		color:@darkGray;
	}
}

div#pop {
	background:#ffffff;
	border:1px solid @darkGray;
	.roundedCorners(10px);
	position: fixed;
	top: 300px;
	left: 35%;
	width: 400px;
	height: 275px;
	z-index: 100;
}



